
.register{
  background-color: #198754;
  border: 2px solid #176c1b;
}

.register:hover {
  background-color: #176c1b;
  border: 2px solid #176c1b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

hr{


  border: 2px solid darkgreen;
  }

.headbg {
    background-color: #b7edba;
}

.input-group {
  position: relative;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right spacing as needed */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #495057; /* Adjust the color as needed */
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa4343;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #eb1a0f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #ff0000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

   /* css for button */
   .button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 20px; /* Adjusted font size */
    line-height: 15px;
    padding: 10px 15px 10px; /* Adjusted padding */
    text-decoration: none;
    cursor: pointer;
    background: white;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px; /* Adjusted width */
    height: 75px; /* Adjusted height */
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: rgb(19, 10, 10);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }

  .button-27 {
    appearance: none;
    background-color: #198754;
    border: 2px solid #176c1b;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    will-change: transform;
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }


  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: 1px solid #4caf50;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .pagination-button:hover {
    background-color: #45a049;
  }
  
  .pagination-button:disabled {
    background-color: #ddd;
    color: #666;
    border: 1px solid #ddd;
    cursor: not-allowed;
  }
  
  .pagination-button.active {
    background-color: #45a049;
  }

  .student-count {
    /* background-color: #45a049; */
    color: black;
    border-color: #176c1b;
    border-width: 2px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Ensures the box doesn't take the full width */
  }

  