.center-image {
    display: block;
    margin: 0 auto; 
    max-width: 200px; 
    height: auto; 
    margin-top: 50px;
  }

  .background {
    background-color: #f7f7f7;
  }

  .ftable {
    width: 1200px;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.75rem;
  }

 


  .backbutton {
    background-color: blue;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  